body {
	font-size: 13px;
}

.container {
	margin-left: 80px;
}

.row {
	width: 600px;
}

.col-2 {
	width: 200px;
}

.row-settings {
	margin-top: 12px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 12px;
}

.row-targets {
	border-bottom: 1px solid #ddd;
	height: 290px;
}

.row-header {
	border-bottom: 1px solid #ddd;
}

.row-footer {
	margin-top: 5px;
	color: #999;
}

.row-footer a {
	color: #999;
}

.developer-info span {
	float: right;
}

#btn-add {
	font-size: 13px;
	background-color: #f5f5f5;
}

#btn-add:hover, #btn-add:focus {
	background-color: #e5e5e5;
}

#btn-add .glyphicon{
	font-size: 14px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}


.target-wrapper {
	padding: 15px;
}

.target-mark {
	font-weight: bold;
	font-size: 14px;
}

.target-avatar-block {
	text-align: center;
	margin-bottom: 10px;
}

.target-avatar {
	width: 124px;
	height: 124px;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	border-radius: 5px;
}

.target-social-btns {
	text-align: center;
}

.target-social-btns a {
	width: 30px;
	height: 31px;
	background-image:url(/img/social-icons-bw.png);
	background-size: 215px;
	background-repeat: no-repeat;
	display: inline-block;
}

.target-social-btns a:hover, .target-social-btns a:focus {
	background-position-y: -32px;
}

.btn-weibo {
	background-position: -37px 0;
}

.btn-renren {
	background-position: -148px 0;
	margin-left: 17px;
	margin-right: 17px;
}

.selected-friend {
	margin-top: 20px;
	text-align: center;
	height: 150px;
}

.selected-friend-avatar {
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	border-radius: 5px;
}

.selected-friend-name {
	font-weight: bold;
	font-size: 14px;
}

.panel-heading .glyphicon {
	display: none;
	float: right;
	cursor: pointer;
	margin-left: 5px;
	position: relative;
	right: -5px;
	font-size: 15px;
	opacity: 0.5;
}

.panel {
	margin: 0;
}


#modal-renren .typeahead a span,  #modal-douban .typeahead a span{
	display: none;
}

.sound-setting {
	float: right;
	margin-top: 10px;
}

.sound-setting input {
	margin-right: 5px;
}

#modal-add-target .modal-content, #modal-edit-target .modal-content, #modal-remove-target .modal-content{
	width: 400px;
}

#modal-renren .modal-content, #modal-weibo .modal-content {
	width: 500px;
}

#modal-renren .modal-body, #modal-weibo .modal-body {
}

#modal-add-target input {
	margin-right: 5px;
}

#modal-remove-target .modal-body span {
	font-weight: bold;
}

.alert-warning {
	display: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.alert-link {
	cursor: pointer;
}

.btn-delete {
	float: left;
	display: none
}

.light-blue {
	color: #5bb3f0;
}