.target-wrapper {
	padding: 15px;
}

.target-avatar {
	/*border: 1px solid;*/
	width: 150px;
	height: 150px;
}

#target-modal .modal-body {
	height: 300px;
}

#selected-friend-avatar {
	width: 120px;
	height: 120px;
}

.panel-heading .glyphicon {
	display: none;
	float: right;
}

.panel-heading .glyphicon-remove-sign {
}