html, body{
	width: 500px;
	height: 600px;
	overflow-y: auto;
}

body {
	font-size: 12px;
	padding-top: 38px;
}

.nav .tab-name {
	font-weight: bold;
	font-size: 15px;
}

.nav .badge {
	background-color: #d9534f;
	position: absolute;
	z-index: 100;
	top: 2px;
	right: 0px;
}

.tab-content {
	padding: 10px 10px 0 10px;
}

.item-avatar {
	margin-top: 0;
	float: left;
}

.item-status {
	margin-left: 60px;
}

.item-more {
	float: right;
} 

.clear {
	clear: both;
}

.item-pic img, .retweeted-pic img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 120px;
	max-height: 100px;
}

.well {
	background-color: white; 
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px 12px 8px 12px;
}

.item-retweeted .well {
	margin-bottom: 3px;
} 

.close {
	position: relative;
	top: -5px;
}

.item-header, .retweeted-header {
	margin-bottom: 5px;
}

.item-owner, .retweeted-owner{
	margin-right: 10px;
	font-weight: bold;
}

.item-footer {
	margin-top: 5px;
}

.retweeted-title, .item-title {
	font-weight: bold;
}

.item-title {
	margin-bottom: 5px;
}

.nav .glyphicon {
	font-size: 16px;
	color: white;
	float: right;
	font-weight: bold;
	position: relative;
	top: 12px;
	margin-right: 13px;
	opacity: 0.7;
}