html {
	width: 500px;
	height: 600px;
}

body {
	font-size: 12px;
	padding-top: 41px;
}

.nav {
	height: 41px;	
}

.nav .tab-name {
	font-weight: bold;
	font-size: 14px;
}

.nav .badge {
	background-color: #428bca;
	position: absolute;
	z-index: 100;
	top: 2px;
	right: 0px;
}


.nav-tabs>li.active>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: #555;
}

.nav-tabs>li>a {
	color: #bcbcbc;
}

.tab-content {
	padding: 10px 10px 0 10px;
	height: 559px;
	overflow-y: scroll;
}

.item-avatar {
	margin-top: 0;
	float: left;
}

.item-more {
	float: right;
} 

.clear {
	clear: both;
}

.item-pic img, .retweeted-pic img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 120px;
	max-height: 100px;
}

.well {
	background-color: white;
	margin-top: 5px;
	padding: 10px 12px 8px 12px;
}

.item-status {
	margin-left: 60px;
	margin-bottom: 14px;
	padding-bottom: 2px;
}

.item-retweeted {
	margin-bottom: 3px;
	background-color: #f8f8f8;
} 


.close {
	position: relative;
	top: -5px;
}

.item-header, .retweeted-header {
	margin-bottom: 5px;
}

.item-owner, .retweeted-owner{
	margin-right: 10px;
}

.item-owner {
	font-weight: bold;
}

.item-footer {
	margin-top: 5px;
}

.retweeted-title, .item-title {
	/*font-weight: bold;*/
}

.item-title {
	margin-bottom: 5px;
}

.item-time, .retweeted-time {
	color: #aaa;
}

.item-from {
	height: 18px;
	width: 18px;
	display: inline-block;
	background-image:url(/img/social-icons.png);
	background-size: 125px;
	background-repeat: no-repeat;
}

.nav .glyphicon {
	font-size: 16px;
	color: white;
	float: right;
	font-weight: bold;
	position: relative;
	top: 12px;
	margin-right: 13px;
	opacity: 0.7;
	cursor: pointer;
}

.stars {
	color: #f0ad4e;
}

.welcome-wrap {
	text-align: center;
	margin-top: 100px;
}

.welcome-logo {
	margin-bottom: 40px;
}

.welcome-logo img {
	width: 200px;
	height: 200px;
}

.pane-info {
	margin-top: 5px;
}

.pane-no-unread {
	margin-top: 10px;
	text-align: center;
	color: #aaa;
	font-size: 13px;
}